version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/moul.io/pipotron
    environment:
      GO111MODULE: "on"
    steps:
      - checkout
      - run: go mod download
      - run: make install
      - run: make functions
      - run: pipotron example